/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  background-image: repeating-linear-gradient(to left, #d3d3d3 2px 4px, transparent 4px 6px), repeating-linear-gradient(to top, #d3d3d3 2px 4px, transparent 4px 6px), linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
  background-attachment: fixed;
}

.header {
  flex-shrink: 0;
  min-width: 375px;
  min-height: clamp(20.3125rem, 17.1729rem + 13.3956vw, 23rem);
  max-width: 700px;
  width: 100%;
  font-family: var(--font-family-additional), sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0px 100px;
  gap: 20px;
  border: 2px solid #000;
}

.header-title {
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.header-text {
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
}

/* main section */

.main {
  min-width: 375px;
  min-height: 323px;
  max-width: 700px;
  width: 100%;
  display: grid;
  gap: 50px;
  justify-items: center;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
}

.bus-image {
  min-width: 371px;
  min-height: 371px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  width: 100%;
  object-fit: cover;
  margin-bottom: -4px;
  position: relative;
}

figure {
  position: relative;
}

.image-text {
  position: absolute;
  color: rgba(0, 0, 0);
  -webkit-text-stroke: 0.5px #fff;
  font-family: var(--font-family-additional), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 25px;
  right: clamp(0.6875rem, -0.3347rem + 4.3614vw, 1.5625rem);
  opacity: 1;
  mix-blend-mode: hard-light;
}

.card-text-block {
  display: grid;
  gap: 27px;
  padding: 25px;
  border-top: 2px solid #000;
}

.card-title {
  padding: 4px 6px 5px 10px;
  border-bottom: 2px solid #000;
  font-size: 18px;
}

.card-text {
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.card__like-button {
  position: relative;
  background-color: transparent;
  border: 2px solid #000;
  padding: 6px 0;
  display: flex;
  justify-content: center;
  width: 130px;
}

.button__text {
  color: #fff;
  position: relative;
  z-index: 1;
  font-family: var(--font-family-additional), sans-serif;
  font-size: 14px;
  align-self: center;
  justify-self: center;
  line-height: 150%;
  mix-blend-mode: difference;
}

.button-block {
  display: flex;
  gap: 6px;
  padding: 0px 25px 25px 0px;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 40px;
  height: 39px;
  border: none;
  outline: 2px solid transparent;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
  transition: 0.3s ease;
}

svg.like-icon {
  position: absolute;
  height: 100%;
}

.like-icon:focus {
  outline: none;
}

.main-body {
  fill: transparent;
  transition: all 0.3s;
}

.card__icon-button:hover .main-body {
  fill: #000;
  transition: all 0.3s;
}

.core {
  fill: transparent;
  transition: all 0.3s 0.05s;
}

.card__icon-button:hover .core {
  fill: #000;
  transition: all 0.3s 0.05s;
}

.card__icon-button:active .core {
  fill: red;
  transition: all 0.3s 0.05s;
}

.card__icon-button:active .main-body {
  fill: red;
  transition: 0.3s;
}

.contour {
  fill: var(--color-svg);
  transition: 0.1s linear;
}

.like-icon.is-liked .sparks {
  animation: fire 0.3s 0.3s ease-in;
}

.like-icon.is-liked {
  animation: scale 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .contour {
  --color-svg: red;
  fill: var(--color-svg);
  transition: 0.3s 0.06s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: 0.3s;
}

.like-icon.is-liked .core {
  fill: red;
  transition: 0.3s 0.05s;
}

.sparks {
  opacity: 0;
}

.disk {
  position: relative;
  width: 21px;
  align-self: center;
  mix-blend-mode: difference;
  color: white;
  z-index: 1;
}

.disk-big {
  position: relative;
  width: 55px;
  align-self: end;
}

.button-dialog {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  border: 2px solid #000;
  gap: 8px;
}

.button-style {
  width: clamp(19.125rem, 17.0076rem + 9.0343vw, 21.2rem);
  height: clamp(3.4rem, 7.795rem + -10.5919vw, 5.3125rem);
  max-height: 85px;
  margin-bottom: 102px;
}

.button-style-dialog {
  height: 38px;
  grid-column: 1/3;
  grid-row: span 2;
  background-color: transparent;
}

.dialog {
  min-width: 341px;
  width: clamp(21.3125rem, 20.1443rem + 4.9844vw, 22.3125rem);
  height: 195px;
  padding: 31px 30px;
  position: fixed;
  inset: 0;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-item {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 27px;
  column-gap: 5px;
}

.text-big {
  text-transform: uppercase;
}

.animation-button {
  transition: 0.3s;
}

.animation-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.animation-button:hover::after {
  transform: scaleX(1);
}

.animation-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.saturate {
  filter: saturate(20%);
  filter: contrast(60%);
}

.hue-rotate {
  filter: hue-rotate(-90deg);
}

.sepia {
  filter: sepia(70%);
}

.invert {
  filter: invert(0.9);
}

.grayscale {
  filter: grayscale(1);
}

.blur {
  filter: blur(2px);
}

.brightness {
  filter: brightness(300%);
}

@media (width <= 375px) {
  .button-style {
      flex-direction: column;
      padding-bottom: 7px;
      padding-top: 2px;
  }
  .disk {
      width: 28px;
      padding-top: 8px;
  }

  .dialog {
      padding: 31px 38px;
  }

  .header {
      margin: 100px 0 102px;
  }
}